<div class="maindiv">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Log-in</h3>
    
                    </div>
                    <div class="card-body" style="text-align: center">
                        <div class="col s12 m6 offset-m3 center-align">
                            <button class="btn btn-primary" (click)="login()">
                                <div class="left">
                                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                </div>
                                Login with Google
                            
                            </button>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>