/* admin */

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 40%;
  }

  #bid-panel{
      text-align: center;
      padding-bottom: 25px;
      padding-top: 25px;
  }

  .checked {
    color: orange;
  }

  #rating{
      text-align: left;
      font-size: 25px;
  }


  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}




/* owner */


#ownerlayout{
    text-align: center;
    padding-top: 15px;
}

/* check */
.card{
    background-color: skyblue;
    max-width: 100%;
    margin: 5px;
}