<!-- admin -->

<div *ngIf="role.name=='admin'">



    <div class="row" *ngIf="d">
        <div class="col-sm-3" style="background-color:yellow;">
            <div *ngFor = 'let dd of d'>
                <ul>
                    <li *ngIf="dd.role.id =='il0Ssl7LzNoytAJl54pQ'">
                        <!-- <li>{{dd.role.id}}</li> -->
                        {{dd.name}}
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-sm-9" id="bid-panel">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3nZo_XkZXu5cabJ19U8DTRPp1HfwnPHo1cwSdxxYxOKWKa_OL&s"
                alt="Avatar" class="avatar">

            <div class="row">
                <div class="col-sm-6" style="text-align: left;">
                    <h1>player name</h1>
                    <p>male</p>
                </div>
                <div class="col-sm-3">
                    Base Price
                    <h1>$ 50</h1>
                </div>

            </div>
            <div class="row" id="rating">
                <div class="col-sm-6">
                    🏏&nbsp; &nbsp;
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <br>
                    🥎&nbsp; &nbsp;
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>

                </div>

                <div class="col-sm-3" style="text-align: center;">

                    Timer:
                    <br>
                    <h1>00:10</h1>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <!-- <mat-form-field class="example-full-width">
                            <input matInput placeholder="Choose Team *" >
                        </mat-form-field> -->
                    <!-- <input type="text" placeholder="Choose Team"> -->

                    
                    <select name="Team Name" id="teamname" (change)="chooseTeam($event)">
                        <option>Please Select Team Name</option>
                        <option *ngFor="let dd of tname" [value]="stringify(dd)">Team Name - {{dd.name}}/ Balance - {{dd.Team_amount}} </option>
                      </select>



                      
                </div>
                <div class="col-sm-4">
                    <!-- <mat-form-field class="example-full-width">
                        <input type="number" matInput placeholder="Enter bid Price" >
                    </mat-form-field> -->
                    <input type="number" placeholder="Enter bid Price">
                </div>
            </div>
            <div class="row" style="text-align: left;">
                <div class="col-sm-1">
                    <button mat-flat-button color="primary"   (click)="MaxBid()">Buy</button>

                </div>
                <div class="col-sm-3">
                    <button mat-flat-button color="warn">Skip</button>
                </div>
            </div>

        </div>



    </div>



































<!-- owner -->



</div>
<div *ngIf="role.name=='owner'">


    <div class="row" id="ownerlayout">
        <div class="col-sm-2" style="background-color:yellow;">
            player list

        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1>Image</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h1>Quantiphi Team</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-6">
                    <canvas id="canvas" class="chart chart-pie" chart-data="data" chart-labels="labels"
                        chart-options="options">
                    </canvas>
                </div> -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="piechartmalefemale" class="chart chart-pie" chart-data="data"
                                chart-labels="labels" chart-options="options">
                            </canvas>
                            Male/Female Candidate
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="piechartbalance" class="chart chart-pie" chart-data="data" chart-labels="labels"
                                chart-options="options">
                            </canvas>
                            Total bid Possible
                        </div>
                    </div>
                </div>


                <!-- <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h1>Quantiphi Team</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h1>Quantiphi Team</h1>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="piechartmaxbid" class="chart chart-pie" chart-data="data" chart-labels="labels"
                                chart-options="options">
                            </canvas>
                            Amount remain
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>