<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">QCB</a>
    <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <!-- <a href="#" [routerLink]="['/login']" class="nav-item nav-link active"  >Login</a>
            <a href="#" [routerLink]="['/registration']" class="nav-item nav-link">Registration</a> -->
            <!-- <a href="#" class="nav-item nav-link">Logout</a> -->
            <button type="button" (click)="logout()" id="btn" class="btn btn-danger" >Log out</button>
            <!-- <a href="" (click)="profile()" class="nav-item nav-link">Profile</a> -->
            <a (click)='profile()' id="menu" class="nav-item nav-link"> profile </a>
           
            <a (click)='dashboard()' *ngIf="role.name=='admin'||role.name=='owner'" id="menu" class="nav-item nav-link"> Dashboard </a>

            <a (click)='tdetails()' id="menu" class="nav-item nav-link">Team Details</a> 
            <a (click)='addteam()' *ngIf="role.name=='owner'" id="menu" class="nav-item nav-link">Update Team Name</a> 
            <!-- <a id="menu" class="nav-item nav-link">Team Details</a>
            <a id="menu" class="nav-item nav-link">Wish List</a> -->

        </div>
        <!-- <form class="form-inline ml-auto">
            <input type="text" class="form-control mr-sm-2" placeholder="Search">
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>  -->
    </div>
    <div class="mainname">
        <h1 id="head">Quantiphi Cricket Bash</h1>
    </div>
</nav>