nav.navbar{
    height: 100px;   
}

a.navbar-brand{
    font-family: cursive;
    font-size: -webkit-xxx-large;
}

h1#head{
    
    color: chartreuse;
}

.mainname{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center; 
}

#menu{
    cursor: pointer;
}