<!-- <div *ngIf="role.name=='owner'" class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Your Team Name - <b>Not Set</b></h5>
            
              <div class="form-label-group">
                <label for="teamlabel">Team Name</label><br>
                <input type="text" id="teamname" class="form-control" placeholder="Email address" required autofocus>
                
              </div>

              

              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" > Update Team</button>
           
          </div>
        </div>
      </div>
    </div>
  </div> -->




  <div class="card-form">
    <form class="signup">
      <div class="form-title">Team Name - <b>Not Set</b></div>
      <div class="form-body">
        <div class="row">
          <input type="text" placeholder="Enter your team name">
        
        </div>
       
      </div>
      <div class="rule"></div>
      <div class="form-footer">
         <a>Update Team Name<span class="fa fa-thumbs-o-up" ></span></a>
      
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>