/* main{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }


.col-md-5
{
    margin: 1px;
}

.row{
    height: 370px;
margin-top: 25px;
margin-bottom: auto;
width: 600px;
background-color: rgba(0,0,0,0.5) !important;
}
 */



 /* Made with love by Mutiullah Samim*/


 div.maindiv{
    background-image: url('https://i.pinimg.com/originals/f4/0c/fe/f40cfef2ef26c8f87ea65894d0ba41d7.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
padding:158px;
}

.container{
    height: 100%;
align-content: center;
}

.card{
height: 270px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.btn{
    background-color: forestgreen;
    color: white;
}

.card-header{
    text-align:center;
}
