<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col">Balance ($)</th>
                        <th scope="col">Players</th>
                        <th scope="col">Female Players</th>
                        <th scope="col">View Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="playername">Quantiphi Team 1</td>
                        <td>200</td>
                        <td>15</td>
                        <td>5</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="openModal(template)">view players</button>
 
                               <ng-template #template>
                               <div class="modal-header">
                                 <h4 class="modal-title pull-left">players</h4>
                              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                               </button>
                          </div>
                           <div class="modal-body">
                               <div *ngFor="let dd of d">
                           <ul><li>{{dd.name}}</li></ul>
                           <!-- <ol><li>{{dd.p3}}</li></ol> -->
                           </div>
                         </div>
                               </ng-template>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <div id="playernamee"></div>
        </div>
    </div>
</div>